{% extends 'base.html' %}
{% block title %}
    Articles
{% endblock title %}


{% block content %}

    {% for blogs in subscribed %}
        {% for post in blogs.posts.all %}
               <p> {{ post.title }}
                {{ post.body }}
                   <a href="{{ post.get_absolute_url }}">link</a>
                   {% if post not in user.is_readed.all %}
                       <form method="post">
                            {% csrf_token %}
                            <input type="hidden" value="{{ post.pk }}" name="pk" id="pk">
                            <input type="submit" value="Mark as read">
                       </form>

                       {% else %}
                       Read
                    {% endif %}
               </p>
            {% endfor %}
    {% endfor %}

{% endblock %}

